* {
    font-family: 'Open Sans', sans-serif;
}

.mt-20vh {
    margin-top: 20vh;
}

.mt-40vh {
    margin-top: 40vh;
}

.bg-sugar {
    background-color: #B4D0E7;
}

p {
    font-size: 2.5vh;
}

header {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    background-color: white;
    position: fixed;
}

header a {
    font-size: .8em;
    padding: 0 5px;
}

.navbutton {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbutton:hover {
    border-bottom: 1px solid black;
}

header a {

    text-decoration: none;
    color: black;
}

.logo {
    width: 80%;
    object-fit: contain;
    object-position: center;
}

.button {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #0061FF;
    color: white;
    border: none;
}

.button.white-outline {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.fa-check {
    color: #0061FF;
}

.jumbo {
    padding-top: 20vh;
    background-color: #B4D0E7;
    height: 100vh;

}


h1 {
    font-size: 4.5vw;
    width: 75%;
    margin: auto;
    font-weight: 700;
}

.arrow {
    position: absolute;
    left: 12%;
    bottom: 0%;

}

.jumbopic {
    width: 50%;
    position: absolute;
    bottom: -10%;
    right: 5%;
}


.plans {
    padding-top: 40vh;
}

.plans h2 {
    margin-bottom: 10vh;
}

.plan-container {
    width: 30%;
}

.planlist {
    display: flex;
    flex-wrap: nowrap;
    margin: 16px 0;
}

.contentbox {
    border: 1px solid lightgray;
}

.contentbox.head {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.contentbox.content {
    padding: 2vw;
    min-height: 120vh;
}

.contentbox.content p {
    font-size: 0.8em;
}

.sales-contacts {
    height: 35vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.comp-section {
    justify-content: flex-start;

}

.comp-container {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;
}

.comp-container.center {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-y: scroll;
    padding: 7vw;
    background-color: #F5F5F5;
}

.company-box {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    width: 50%;
    padding: 2vh;
}

.company-box img {
    width: 70%;
    filter: invert(1);
}

.design {
    background-color: #A2D39B;
    box-shadow: 0px 0px 0px 8px inset #D1E9CD;
}

.ASU {
    background-color: #61082B;
}

.UF {
    background-color: #0093CE;
}

.topps {
    background-color: #FF1C1C;
}

.WBR {
    background-color: #D5001F;
}

.hearst {
    background-color: #B4D0E7;
}

.lonely {
    background-color: #0D2481;
}

.c-channel {
    background-color: #FFD830;
}



.business-banner {
    width: 66%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20vh 0;
    color: #620A2B;
}

.FAQ {
    border-top: 1px solid black;
    padding: 5vh 0;
    display: flex;
    justify-content: space-between;
}

.FAQ.last {
    border-bottom: 1px solid black;
}

.hidden {
    display: none;
}

.FAQ:hover .hidden {
    display: block;
}

.FAQ:hover .fa-angle-down {
    display: none;
}

footer ul {
    list-style: none;
    color: white;
    padding: 5vh 0;
}

footer li:first-child {
    margin-top: 5vh;
}

footer li {
    padding: 1vh 0;
    font-size: 0.7em;
}